# SPDX-FileCopyrightText: Contributors to the Fedora Project
#
# SPDX-License-Identifier: MIT

# related to package installation
/dist/
/fmn-messages/dist/

# byte-compiled / optimized Python files
__pycache__/
*.py[co]

# coverage related files
/.coverage
/coverage.xml
/htmlcov/

# vagrant
.vagrant/

# configuration file
/fmn.cfg
/consumer.toml
/sender.toml

# Sphinx documentation
docs/_build/
docs/_source/

# Visual Studio Code
.vscode/settings.json

# Tox
.tox
