dist
build
*.pyc
*.egg*

# Ignore the repos checked out within this repo
fmn.web
fmn.sse

# Images are generated as part of the docs build process
docs/images/*

.dnf-cache/
.vagrant/
Vagrantfile
*.retry
