dist
build
*.pyc
*.egg*
_trial_temp/*
sse.log
fedmsg.d/fas_credentials.py
htmlcov/
.cache/
.coverage
.tox/
coverage.xml
docs/fedmsg.d/

# Images are generated as part of the docs build process
docs/images/*
docs/_build/

.dnf-cache/
.vagrant/
Vagrantfile
*.retry
