graft apache
graft fedmsg.d/
graft fmn/web/templates
graft fmn/web/static
graft fmn/web/docs
include alembic.ini
include CHANGELOG.rst
include COPYING
include COPYING.LESSER
include README.rst
include requirements.txt
include dev-requirements.txt
recursive-include alembic *
include usr/share/fmn.sse/sse_server.tac
recursive-include systemd *
