arrow
beautifulsoup4
bleach
bunch
celery>=4.0
datanommer.models
docutils
dogpile.cache
fasjson_client
fedmsg[consumers, commands]
fedmsg_meta_fedora_infrastructure>=0.18.0
Flask
flask-openid>=1.2.4
gssapi
markupsafe
moksha.hub
pika
pylibravatar
pyOpenSSL
python-fedora
python-openid
python-openid-cla
python-openid-teams
redis
requests-gssapi
urllib3
requests
six
SQLAlchemy>=0.8
twisted
wtforms
