arrow
beautifulsoup4
bleach
celery>=4.0
datanommer.models>=1.0.0a1
docutils
dogpile.cache
fasjson_client
fedmsg[consumers, commands]
fedmsg_meta_fedora_infrastructure>=0.18.0
Flask
flask-openid>=1.2.4
gssapi
Jinja2<3.1.0
markupsafe
moksha.hub
munch
pika
psycopg2
py3dns
pylibravatar
pyOpenSSL
python3-openid
python-openid-cla
python-openid-teams
redis
requests-gssapi
urllib3 < 2.0.0
requests
service_identity
six
SQLAlchemy>=0.8
twisted
wtforms
