[Unit]
Description=Celery worker to find FMN message recipients
After=network.target
Documentation=https://github.com/fedora-infra/fmn/

[Service]
Type=simple
ExecStart=/usr/bin/celery -A fmn beat
Environment="KRB5_CLIENT_KTNAME=/etc/krb5.keytab"

[Install]
WantedBy=multi-user.target

[Install]
WantedBy=multi-user.target
