[Unit]
Description=Celery worker to find FMN message recipients
After=network.target
Documentation=https://github.com/fedora-infra/fmn/

[Service]
Type=simple
ExecStart=/usr/bin/celery beat -A fmn

[Install]
WantedBy=multi-user.target

[Install]
WantedBy=multi-user.target
