[Unit]
Description=Celery worker to find FMN message recipients
After=network.target
Documentation=https://github.com/fedora-infra/fmn/

[Service]
Type=simple
ExecStart=/usr/bin/celery worker --pool=prefork --concurrency=1 -E -A fmn -l info -n fmn-worker%i@%H

[Install]
WantedBy=multi-user.target

[Install]
WantedBy=multi-user.target
