[Unit]
Description=FMN Delivery Service #%i
After=network.target
Documentation=https://github.com/fedora-infra/fmn/

[Service]
ExecStart=/usr/bin/twistd -n -l - -y /usr/share/fmn/delivery_service.tac
Type=simple
Restart=on-failure

[Install]
WantedBy=multi-user.target
