CORS_ORIGINS="http://localhost:5173 https://localhost:5173 http://fmn.tinystage.test:5173 https://fmn.tinystage.test:5173"
OIDC_PROVIDER_URL="https://ipsilon.tinystage.test/idp/openidc"
OIDC_CONF_ENDPOINT="/.well-known/openid-configuration"
OIDC_TOKEN_INFO_ENDPOINT="/TokenInfo"
OIDC_CLIENT_ID="{{ oidc_client_id }}"
OIDC_CLIENT_SECRET="{{ oidc_client_secret }}"
FASJSON_URL=http://fasjson.tinystage.test/fasjson
