# SPDX-FileCopyrightText: Contributors to the Fedora Project
#
# SPDX-License-Identifier: MIT

# A sample configuration for the FMN sender. This file is in the TOML format.

amqp_url = "amqp://localhost/%2Ffmn"
queue = "email"

# [tls]
# ca_cert = "/etc/fedora-messaging/cacert.pem"
# keyfile = "/etc/fedora-messaging/sender-key.pem"
# certfile = "/etc/fedora-messaging/sender-cert.pem"

# For Email:
[handler]
class = "fmn.sender.email:EmailHandler"
from = "FMN <fmn@fedoraproject.org>"
smtp_host = "localhost"
smtp_port = 25

# For IRC:
[handler]
class = "fmn.sender.irc:IRCHandler"
irc_url = "ircs://fedora-notif:fmnpassword@irc.libera.chat:6697"

# For Matrix:
[handler]
class = "fmn.sender.matrix:MatrixHandler"
host = "https://fedora.ems.host"
user_id = "@notifs-bot:fedora.im"
token = "syt_foo_bar_baz"


[log_config]
version = 1
disable_existing_loggers = true

[log_config.formatters.simple]
format = "[%(levelname)s %(name)s] %(message)s"

[log_config.handlers.console]
class = "logging.StreamHandler"
formatter = "simple"
stream = "ext://sys.stdout"

[log_config.loggers.fmn]
level = "INFO"
propagate = false
handlers = ["console"]

# AIO-Pika is the underlying AMQP client library. When debugging you may want to
# lower this log level.
[log_config.loggers.aio_pika]
level = "WARNING"
propagate = false
handlers = ["console"]

[log_config.root]
level = "ERROR"
handlers = ["console"]
