# SPDX-FileCopyrightText: Contributors to the Fedora Project
#
# SPDX-License-Identifier: MIT

[Unit]
Description=fmn-api
After=network-online.target
Wants=network-online.target

[Service]
User=vagrant
Environment= \
    GSS_USE_PROXY=yes \
    FEDORA_MESSAGING_CONF=/etc/fmn/api.toml
WorkingDirectory=/home/vagrant/fmn
ExecStart=poetry run uvicorn fmn.api.main:app \
    --env-file /etc/fmn/fmn.cfg \
    --host 0.0.0.0 \
    --ssl-keyfile /etc/pki/tls/private/server.key \
    --ssl-certfile /etc/pki/tls/certs/server.pem

[Install]
WantedBy=multi-user.target
