{% extends "master.html" %}

{% block body %}
<div class="page-header">
  <h1>Filters for {{username}}'s <em>{{chain.name}}</em> chain
      <small>for the {{current}} messaging context</small></h1>
</div>


<div class="row">
  <div class="col-md-6">
    <p> You have these filters currently defined for this chain.</p>
    <div class="list-group">
    {% for flt in chain.filters %}
      <span class="list-group-item">
        <h4 class="list-group-item-heading">{{flt.title(valid_paths)}}</h4>
        <p class="list-group-item-text">{{flt.doc(valid_paths)}}
          <form role="form" action="{{url_for('handle_filter')}}" method="post">
            <input name="filter_name" id="filter_name" value="{{flt.code_path}}" type="hidden">
            <input name="username" id="username" value="{{username}}" type="hidden">
            <input name="context" id="context" value="{{current}}" type="hidden">
            <input name="chain_name" id="chain_name" value="{{chain.name}}" type="hidden">
            <input name="method" id="method" value="delete" type="hidden">
            <span class="pull-right">
                <button type="submit" class="btn btn-danger">&times; Delete</button>
            </span>
          </form>
        <div class="clearfix"></div>
        </p>
      </span>
    {% endfor %}
    </div>
  </div>

  <div class="col-md-6">
    <p> You can add a new filter to this chain by selecting one from this
    pre-defined list.  Click on any filter to check it out.</p>

    <div class="panel-group" id="accordion">
      {% for root in valid_paths %}
      {% for path in valid_paths[root] | sort(attribute='title', reverse=True) %}
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{path}}">
                {{ valid_paths[root][path]['title'] }}
            </a>
          </h4>
        </div>
        <div id="collapse{{path}}" class="panel-collapse collapse">
          <div class="panel-body">
              {{ valid_paths[root][path]['doc'] }}
              <form class="form-inline" role="form" action="{{url_for('handle_filter')}}" method="post">
                  {% for arg in valid_paths[root][path]['args'] %}
                    {% if arg not in ['config', 'message'] %}
                      <input name="{{arg}}" id="arg_{{arg}}" type="text" />
                    {% endif %}
                  {% endfor %}
                <input name="filter_name" id="filter_name" value="{{root}}:{{path}}" type="hidden">
                <input name="username" id="username" value="{{username}}" type="hidden">
                <input name="context" id="context" value="{{current}}" type="hidden">
                <input name="chain_name" id="chain_name" value="{{chain.name}}" type="hidden">
                <button type="submit" class="btn btn-success">&#43; Add this filter</button>
              </form>
          </div>
        </div>
      </div>
      {% endfor %}
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}
