{% extends "master.html" %}

{% block body %}
<div class="page-header">
  <h1>{{current}} preferences <small>{{context.description}}</small></h1>
</div>
<div class="row">
  <div class="col-md-6">
    <p>You have {{preference.chains|length}} filter chains
    defined for this messaging context.</p>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="list-group">
    {% for chn in preference.chains %}
      <a href="{{chn.name}}" class="list-group-item">
        <h4 class="list-group-item-heading">{{chn.name}}</h4>
        {% if chn.filters %}
        <dl class="list-group-item-text dl-horizontal">
            {% for flt in chn.filters %}
            <dt>{{flt.title(valid_paths)}}</dt>
            <dd>{{flt.doc(valid_paths)}}</dd>
            {% endfor %}
        </dl>
        {% else %}
        <p class="list-group-item-text">This chain has zero filters</p>
        {% endif %}
      </a>
    {% endfor %}
    </div>
  </div>

  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-body">
        <form class="form-inline" role="form" action="{{url_for('new_chain')}}"
              method="post">
          <div class="form-group">
            <label class="sr-only" for="chain_name">Chain Name</label>
            <input type="text" class="form-control" name="chain_name" id="chain_name" placeholder="New Chain Name">
          </div>
          <input name="username" id="username" value="{{username}}" type="hidden">
          <input name="context" id="context" value="{{current}}" type="hidden">
          <button type="submit" class="btn btn-success">
              <span class="glyphicon glyphicon-plus"></span>
              Create a new chain for this context</button>
        </form>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-body">
        <form class="form-inline" role="form" action="{{url_for('handle_details')}}"
              method="post">
          <div class="form-group">
            <label class="sr-only" for="detail_value">{{context.detail_name.title()}}</label>
            <input type="text" class="form-control" name="detail_value"
                   id="detail_value"
                   placeholder="{{preference.detail_value or context.placeholder}}">
          </div>
          <input name="username" id="username" value="{{username}}" type="hidden">
          <input name="context" id="context" value="{{current}}" type="hidden">
          <button type="submit" class="btn btn-success">
              <span class="glyphicon glyphicon-{{context.icon}}"></span>
              Update your {{context.detail_name}}</button>
        </form>
      </div>
    </div>

  </div>
</div>

{% endblock %}
