{% extends "master.html" %}

{% block body %}
<div class="page-header">
  <h1>Rules for {{g.auth.email}}'s <em>{{filter.name}}</em> filter
      <small>for the {{current}} messaging context</small></h1>
</div>

<div class="row">
  <div class="col-md-1 col-md-offset-10">
    <form class="form-horizontal" role="form"
      action="{{url_for('handle_filter')}}" method="post">
      <input name="openid" id="openid" value="{{openid}}" type="hidden">
      <input name="context" id="context" value="{{current}}" type="hidden">
      <input name="filter_name" id="filter_name" value="{{filter.name}}" type="hidden">
      <input name="method" id="method" value="delete" type="hidden">
      <button type="submit" class="btn btn-danger"
        name="delete" value="{{filter.id}}">
        <span class="glyphicon glyphicon-remove">Delete this filter</span>
      </button>
    </form>
  </div>
</div>

<div class="row">
  <div class="col-md-7">
    <p class="lead">Rules defined for this filter:</p>
    <p>(all these rules must be satisfied for the notification to be sent)</p>
    <div class="list-group">
    {% for rule in filter.rules %}
      <span class="list-group-item">
        <h4 class="list-group-item-heading">{{rule.title(valid_paths)}}</h4>
        <p class="list-group-item-text">{{rule.doc(valid_paths)}}
          <dl class="dl-horizontal">
              {% for key, value in rule.arguments.iteritems() %}
              <dt>{{key}}</dt><dd>{{value}}</dd>
              {% endfor %}
          </dl>
          <form role="form" action="{{url_for('handle_rule')}}" method="post">
            <input name="rule_name" id="rule_name" value="{{rule.code_path}}" type="hidden">
            <input name="openid" id="openid" value="{{openid}}" type="hidden">
            <input name="context" id="context" value="{{current}}" type="hidden">
            <input name="filter_id" id="filter_id" value="{{filter.id}}" type="hidden">
            <input name="method" id="method" value="delete" type="hidden">
            <span class="pull-right">
                <button type="submit" class="btn btn-danger">
                    <span class="glyphicon glyphicon-remove"></span>
                    Delete this rule</button>
            </span>
          </form>
        <div class="clearfix"></div>
        </p>
      </span>
    {% endfor %}
    </div>

    <!-- A place to hold examples that match these rules.
    We'll populate this with javascript to make the page load more quickly.
    -->
    <div id="examples-container">
      <p class="lead"></p>
      <ul class="list-group"></ul>
    </div>

  </div>

  <div class="col-md-5">
    <p class="lead">Possible rules:</p>
    <p> You can add a new rule to this filter by selecting one from this
    pre-defined list.  Click on any rule to check it out.</p>

    {% for kind in rule_types %}
    <div class="panel-group" id="accordion-{{kind}}">
      <h4>{{kind.capitalize()}} Rules</h4>
      {% for root in valid_paths %}
      {% for path in valid_paths[root] %}

      {%- if valid_paths[root][path]['submodule'] != kind %} {% continue %} {% endif %}

      <div class="panel panel-default">
        <div class="panel-heading">
          <h5 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion-{{kind}}" href="#collapse{{path}}">
              {{ valid_paths[root][path]['title'] }}
            </a>
          </h5>
        </div>
        <div id="collapse{{path}}" class="panel-collapse collapse">
          <div class="panel-body">
              {{ valid_paths[root][path]['doc'] }}
              <form class="form-inline" role="form" action="{{url_for('handle_rule')}}" method="post">
                  {% for arg in valid_paths[root][path]['args'] %}
                    {% if arg not in ['config', 'message'] %}
                      {{arg}}
                      <input name="{{arg}}" id="arg_{{arg}}" type="text" />
                    {% endif %}
                  {% endfor %}
                <input name="rule_name" id="rule_name" value="{{root}}:{{path}}" type="hidden">
                <input name="openid" id="openid" value="{{openid}}" type="hidden">
                <input name="context" id="context" value="{{current}}" type="hidden">
                <input name="filter_id" id="filter_id" value="{{filter.id}}" type="hidden">
                <button type="submit" class="btn btn-success">
                    <span class="glyphicon glyphicon-plus"></span>
                    Add this rule</button>
              </form>
          </div>
        </div>
      </div>
      {% endfor %}
      {% endfor %}
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
