<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="management of fedmsg end user notifications" />
    <meta name="author" content="Ralph Bean" />

    <link rel="shortcut icon" href="{{ url_for('static', filename='ico/favicon.ico') }}">

    <title>Fedora Notifications</title>

    <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/text.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/navbar.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/footer.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/avatars.css') }}" rel="stylesheet" />
  </head>

  <body>

    <div id="wrap" class="container{{ ' max-width' if current is equalto 'index' }}">

      <!-- Static navbar -->
      <div class="navbar navbar-default navbar-fixed-top">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse"
                data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{url_for('index')}}">
            Fedora Notifications</a>
        </div>

        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
              {% if 'about' == current %}
              <li class="active">
              {% else %}
              <li>
              {% endif %}
              <a href="{{url_for('about')}}">about</a>
              <li>

            {% if g.auth.logged_in %}
              {% if 'profile' == current %}
              <li class="active">
              {% else %}
              <li>
              {% endif %}
              <a href="{{url_for('profile', openid=openid)}}">
                profile
              </a>
              </li>

              {% for ctx in contexts %}
                {% if ctx.name in g.fedmsg_config['fmn.backends'] %}
                  {% if ctx.name == current %}
                  <li class="active">
                  {% else %}
                  <li>
                  {% endif %}
                  <a href="{{url_for('context', openid=openid, context=ctx.name)}}">
                      <span class="glyphicon glyphicon-{{ctx.icon}}"></span>
                      {{ctx.name}}
                  </a>
                  </li>
                {% endif %}
              {% endfor %}
            {% endif %}

            {% if g.auth.logged_in %}
            <li><a href="{{url_for('logout')}}">logout</a></li>
            {% else %}
            <li>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <b class="caret"></b></b> login
                </a>
                <ul class="dropdown-menu">
                  {% if config['FMN_FEDORA_OPENID'] and config['FMN_ALLOW_FAS_OPENID'] %}
                  <li><a href="{{url_for('fedora_login')}}?next={{url_for('profile_redirect')}}">Fedora</a></li>
                  <li class="divider"></li>
                  {% endif %}
                  {% if config['FMN_ALLOW_GOOGLE_OPENID'] %}
                  <li><a href="{{url_for('google_login')}}?next={{url_for('profile_redirect')}}">Google</a></li>
                  {% endif %}
                  {% if config['FMN_ALLOW_YAHOO_OPENID'] %}
                  <li><a href="{{url_for('yahoo_login')}}?next={{url_for('profile_redirect')}}">Yahoo</a></li>
                  {% endif %}
                  {% if config['FMN_ALLOW_GENERIC_OPENID'] %}
                  <li><a href="{{url_for('login')}}?next={{url_for('profile_redirect')}}">Other OpenID</a></li>
                  {% endif %}
                </ul>
            </li>
            {% endif %}
          </ul>

        </div><!--/.nav-collapse -->
      </div>

      {% block body %}{% endblock %}

    </div> <!-- /container -->

    <div id="footer">
      <div class="container">
        <p class="text-muted credit">
        Fedora Notifications is powered by
        <a href="http://fedmsg.com">fedmsg</a>.  The
        <a href="https://github.com/fedora-infra/fmn">source</a>
        and
        <a href="https://github.com/fedora-infra/fmn/issues">issue tracker</a>
        are available on github.
        ©2013-2014 Red Hat, Inc., <a href="http://threebean.org">Ralph Bean</a>.
        </p>
        <p class="text-muted">
          Running <code>fmn.web-{{web_version}}</code>,
          <code>fmn.lib-{{lib_version}}</code>, and
          <code>fmn.rules-{{rules_version}}</code>.
        </p>
      </div>
    </div>

    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ url_for('static', filename='js/jquery-1.10.2.min.js')}}"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/site.js')}}"></script>
  </body>
</html>
