{% extends "master.html" %}

{% block body %}
<div class="row">

  <div class="col-md-4">
    <form method="POST" action="https://www.libravatar.org/openid/login/">
      <input type="hidden" name="openid_identifier" value="{{username}}.id.fedoraproject.org"/>
      <input type="image" class="img-circle centered" src="{{avatar}}" style="outline: none;"
             alt="{{username}}'s avatar"/>
    </form>
  </div>

  <div class="col-md-7">
    <p>From your profile here, you can manage different notification
    preferences for <a href="https://apps.fedoraproject.org">Fedora Apps</a>.
    We support the following notification contexts currently and hope to add
    more in time.
    </p>

    <dl class="dl-horizontal">
    {% for ctx in contexts %}
      <dt><a href="{{ctx.name}}">{{ctx.name}}</a></dt>
      <dd>{{ctx.description}}</dd>
    {% endfor %}
    </dl>
  </div>

</div>

{% endblock %}
