# SPDX-FileCopyrightText: Contributors to the Fedora Project
#
# SPDX-License-Identifier: MIT

DATABASE__SQLALCHEMY__URL="postgresql:///fmn"
CORS_ORIGINS="http://localhost:5173 https://localhost:5173 http://fmn.tinystage.test:5173 https://fmn.tinystage.test:5173"
OIDC_PROVIDER_URL="https://{{ ipsilon_hostname }}/idp/openidc"
OIDC_CONF_ENDPOINT="/.well-known/openid-configuration"
OIDC_TOKEN_INFO_ENDPOINT="/TokenInfo"
OIDC_CLIENT_ID="{{ oidc_client_id }}"
OIDC_CLIENT_SECRET="{{ oidc_client_secret }}"
SERVICES__FASJSON_URL=https://{{ fasjson_hostname }}/fasjson
SERVICES__DISTGIT_URL=https://src.tinystage.test
ADMIN_GROUPS=["developers"]
