[Unit]
Description=FMN.consumer worker
After=network.target
Documentation=https://github.com/fedora-infra/fmn.consumer/

[Service]
ExecStart=/home/vagrant/.virtualenvs/fmn/bin/fedmsg-hub
Type=simple

[Install]
WantedBy=multi-user.target
