[Unit]
Description=FMN.web server
After=network.target
Documentation=https://github.com/fedora-infra/fmn.web/

[Service]
Environment="FLASK_APP=/home/vagrant/devel/fmn/web/app.py"
Environment="FLASK_DEBUG=1"
ExecStart=/home/vagrant/.virtualenvs/fmn/bin/flask run --host 0.0.0.0 --port 5000
Type=simple

[Install]
WantedBy=multi-user.target
