name: CI
on: [push, pull_request, workflow_dispatch]
jobs:
  ci:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        python-version: ['3.8', '3.9', '3.10']
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v1
        with:
          python-version: ${{ matrix.python-version }}

      - name: setup venv
        run: |
             python -m pip install --upgrade virtualenv
             virtualenv venv
             source venv/bin/activate
             which python

      - name: Install base dependencies
        run: |
             source venv/bin/activate
             python -m pip install --upgrade poetry
             python -m pip install --upgrade pytest
             python -m pip install --upgrade tox


      - name: execute tox
        run: |
             source venv/bin/activate
             tox
